*{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}




.first-page{
  text-align: center;
  margin: 0px;
 
  background-image: url(../images/banner/editedbanner1.png);
  background-repeat: no-repeat;
  background-attachment:local;
  background-size: cover;
  padding: 210px 150px 180px 150px;
  
}
.banner-title{
  color: black;
  text-align: right
  font-weight: 700;
  font-size: 35px;
  margin-bottom:0;
  
  padding-bottom: 10px;

 
 
}
.banner-description{
  text-align: right;
  color:black;
font-size: 18px;
margin-bottom:20px;
  
}

.btn-primary{
 
  color:#FFF8F3;
  font-size: 20px;
  font-weight: 600px;
  border-radius: 5px;
  background: #F15B22;
padding: 10px;
width: 160px;
border: 0;

}
.written{
  text-align: right;
  padding-left: 650px;
  position:sticky;
  
}

.second-page{
  margin: 100px;
  display:flex;
  justify-content: center;
  gap:70px;
  background-color: #f1a922;
}
.written-part{
  margin:50px;
  padding: 80px 50px 50px 0px;
}
.title{
  padding-top: 10px;
  font-size: 30px;
  padding-bottom: 10px;
}
.description{
  padding-right: 30px;
  padding-bottom: 15px;
}
.picture{
  
  padding-left: 50px;
  padding-top: 20px;
}
.icon{
  display: flex;
}
.head{
  color: #FFF8F3;
  padding-left: 100px;
  padding-right: 500px;
  font-size: 40px;
  font-weight: 600px;
}
.call-button{
  padding-left: 100px;
  padding-top: 15px;
}
.btn-last{
  color: #f19722;
  font-size: 20px;
  font-size: 20px;
  text-align: center;
background: #FFF8F3;
padding: 10px 20px;
border: 0;
border-radius: 5px;
}

.last-part{
 margin: 300px 100px 100px 100px;
  
 
  padding-top: 100px;
  padding-bottom: 120px;
  
  border-radius: 8px;
  background:linear-gradient(rgba(255, 145, 0, 0.2),rgba(200, 180, 0, 0.2)),url('../images/watch.png');
background-repeat: no-repeat;
background-size: cover;
background-color: rgb(255, 217, 0);
background-blend-mode:multiply;

}
